.cnt {
  border: 1px solid #e7e7e7;
  flex: 1 0 47%;
  max-width: 50%;
  font-size: 1.2em;
  font-weight: normal;
  border-radius: 5px;
}
.img {
  max-width: 150px;
  max-height: 150px;
}

.department {
  color: aquamarine;
  font-size: 0.9em;
}
.name {
  // color: aquamarine;
  font-size: 1.2em;
  font-weight: bold;
}
.profession {
  // color: ;
  // font-size: 0.7em;
}
