.icon {
  font-size: 1.2em;
  font-weight: bold;
  padding: 1em;
  &:hover {
    color: aqua;
  }
}

.br {
  border-right: 1px solid #e7e7e7;
  flex: 0 0 200px;
  overflow: hidden;
  transition: all 0.2s;
}

.bro {
}

.brc {
  flex: 0 0 0px;
  border: 0px;
}
